<header>
    <a href="home" class="logo"><i class="fas fa-utensils"></i>Happy Restraunt</a>

    <nav class="navbar">
        <a class="active" href="#home">home</a>
        <a href="#dishes">dishes</a>
        <a href="#about">about</a>
        <a href="#menu">menu</a>
        <a href="#review">review</a>
        <a href="#order">order</a>
        <a href="booktable">book table</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <a href="favourite_food" class="fas fa-heart"></a>
        <a href="cart" class="fas fa-shopping-cart"></a>
        <a href="login" class="fas fa-user"></a>
    </div>
</header>
<form action="" id="search-form">
    <input type="search" placeholder="search your dishes" name="" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <i class="fas fa-times" id="close"></i>
</form>