<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>locations</h3>
            <a href="">india</a>
            <a href="">japan</a>
            <a href="">russia</a>
            <a href="">USA</a>
            <a href="">vietnam</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="home#">home</a>
            <a href="home#dishes">dishes</a>
            <a href="home#about">about</a>
            <a href="home#menu">menu</a>
            <a href="home#review">review</a>
            <a href="home#order">order</a>
            <a href="booktable">book table</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="">+123-456-7890</a>
            <a href="">+111-222-3333</a>
            <a href="">truongthien691@gmail.com</a>
            <a href="">hello'n'bye@gmail.com</a>
            <a href="">danang, vietnam - 450000</a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="">facebook</a>
            <a href="">twitter</a>
            <a href="">instagram</a>
            <a href="">linkedin</a>
        </div>

    </div>

    <div class="credit"> copyright @ 2022 by <span>mr. nhom 6</span> </div>
</section>